@import "fonts/fonts.css"; /* ALL COLLORS PALLETE */
/* ALL COLLORS PALLETE */
.header {
  position: relative;
  padding-top: 313px;
  background: url(../../img/header/notebook.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1600px;
}
.header p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #B5B5B5;
  max-width: 852px;
}
.header .container {
  text-align: center;
  align-items: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: -1;
}

.top__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 522px;
  width: 100%;
  backdrop-filter: blur(15px);
  border: 1px solid #444444;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.surface {
  border-right: 1px solid #444444;
}

.burger {
  border-left: 1px solid #444444;
}

.header__buttons {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  max-width: 170px;
  width: 100%;
  align-items: center;
}
.logo img {
  margin-right: 10px;
  transition: all 1s ease;
}

.logo__svg_block {
  display: block;
  max-width: 746px;
  width: 140px;
  height: auto;
}

.logo__svg_fixed {
  max-width: 746px;
  width: 140px;
  position: fixed;
  top: 210px;
  height: auto;
  scale: 5.5;
}

.mask0, .mask1, .mask2 {
  position: absolute;
}

.header__video {
  width: 100%;
  position: relative;
}

.video {
  position: absolute;
  width: 676px;
  border-radius: 20px;
  top: 217px;
  left: 0;
  transform: rotate(7deg);
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 1920px;
  transform: translateX(-346px);
  height: 1120px;
  backdrop-filter: blur(15px);
}

@media screen and (max-width: 1024px) {
  .header {
    height: 1324px;
    background-size: contain;
  }
  .header p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #B5B5B5;
    max-width: 852px;
  }
}
@media screen and (max-width: 740px) {
  .header {
    height: 1184px;
    background-size: contain;
  }
  .header p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #B5B5B5;
    max-width: 852px;
  }
  .header__buttons {
    row-gap: 10px;
  }
  .logo__svg_block {
    width: 120px;
  }
  .logo__svg_fixed {
    width: 120px;
  }
  .video {
    width: 450px;
  }
}
@media screen and (max-width: 483px) {
  .header__buttons {
    justify-content: center;
  }
}
@media screen and (max-width: 360px) {
  .header {
    padding-top: 197px;
    height: 700px;
    background-size: contain;
    background-position-y: bottom;
  }
  .header p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #B5B5B5;
    max-width: 852px;
  }
  .header__buttons {
    margin-top: 10px;
  }
  .header__buttons button {
    margin-bottom: 10px;
  }
  .logo__svg_block {
    width: 100px;
  }
  .logo__svg_fixed {
    width: 60px;
  }
  .surface {
    width: 50px;
    text-align: center;
  }
  .surface img {
    width: 30px;
  }
  .burger {
    width: 50px;
  }
  .burger img {
    width: 50px;
  }
  .top__menu {
    height: 50px;
    max-width: 330px;
    width: 100%;
  }
  .video {
    width: 160px;
    top: 160px;
  }
}
/* ALL COLLORS PALLETE */
/* ALL COLLORS PALLETE */
.header {
  position: relative;
  padding-top: 313px;
  background: url(../../img/header/notebook.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1600px;
}
.header p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #B5B5B5;
  max-width: 852px;
}
.header .container {
  text-align: center;
  align-items: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: -1;
}

.top__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 522px;
  width: 100%;
  backdrop-filter: blur(15px);
  border: 1px solid #444444;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.surface {
  border-right: 1px solid #444444;
}

.burger {
  border-left: 1px solid #444444;
}

.header__buttons {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 520px;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  max-width: 170px;
  width: 100%;
  align-items: center;
}
.logo img {
  margin-right: 10px;
  transition: all 1s ease;
}

.logo__svg_block {
  display: block;
  max-width: 746px;
  width: 140px;
  height: auto;
}

.logo__svg_fixed {
  max-width: 746px;
  width: 140px;
  position: fixed;
  top: 210px;
  height: auto;
  scale: 5.5;
}

.mask0, .mask1, .mask2 {
  position: absolute;
}

.header__video {
  width: 100%;
  position: relative;
}

.video {
  position: absolute;
  width: 676px;
  border-radius: 20px;
  top: 217px;
  left: 0;
  transform: rotate(7deg);
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 1920px;
  transform: translateX(-346px);
  height: 1120px;
  backdrop-filter: blur(15px);
}

@media screen and (max-width: 1024px) {
  .header {
    height: 1324px;
    background-size: contain;
  }
  .header p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #B5B5B5;
    max-width: 852px;
  }
}
@media screen and (max-width: 740px) {
  .header {
    height: 1184px;
    background-size: contain;
  }
  .header p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #B5B5B5;
    max-width: 852px;
  }
  .header__buttons {
    row-gap: 10px;
  }
  .logo__svg_block {
    width: 120px;
  }
  .logo__svg_fixed {
    width: 120px;
  }
  .video {
    width: 450px;
  }
}
@media screen and (max-width: 483px) {
  .header__buttons {
    justify-content: center;
  }
}
@media screen and (max-width: 360px) {
  .header {
    padding-top: 197px;
    height: 700px;
    background-size: contain;
    background-position-y: bottom;
  }
  .header p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #B5B5B5;
    max-width: 852px;
  }
  .header__buttons {
    margin-top: 10px;
  }
  .header__buttons button {
    margin-bottom: 10px;
  }
  .logo__svg_block {
    width: 100px;
  }
  .logo__svg_fixed {
    width: 60px;
  }
  .surface {
    width: 50px;
    text-align: center;
  }
  .surface img {
    width: 30px;
  }
  .burger {
    width: 50px;
  }
  .burger img {
    width: 50px;
  }
  .top__menu {
    height: 50px;
    max-width: 330px;
    width: 100%;
  }
  .video {
    width: 160px;
    top: 160px;
  }
}
.present .container {
  padding: 0 20px;
}

.comfort__block {
  display: block;
  position: relative;
  width: 100%;
  background: linear-gradient(262.47deg, #F8C4DA 0%, #93C6E2 99.39%);
  height: 681px;
  border-radius: 30px 30px 0 30px;
  padding: 30px 0 0 30px;
}

.comfort__block-title {
  color: #101010;
  margin-bottom: 5px;
}

.comfort__block-descr {
  max-width: 454px;
  color: #101010;
}

.comfort__block-img {
  position: absolute;
  bottom: -5px;
  right: 0;
}
.comfort__block-img img {
  border-radius: 20px 0 0 0;
}

.present__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.present__block {
  background: #1F1F1F;
  border: 1px solid #1F1F1F;
  border-radius: 30px;
  padding: 30px;
  height: 600px;
  position: relative;
  width: 618px;
}

.present__block-title {
  margin-bottom: 5px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  /* identical to box height, or 35px */
  color: #FFFFFF;
}

.present__block-descr {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  color: #FFFFFF;
}

.present__element {
  position: absolute;
  bottom: -5px;
  right: -1px;
  background: #101010;
  border-radius: 20px 20px 0px 0px;
  width: 588px;
  height: 411px;
  padding: 30px 0 0 30px;
}

.element__container {
  position: relative;
  padding: 20px 15px 0 15px;
  background: #161616;
  border-radius: 25px;
  width: 376px;
  height: 380px;
}

.element__container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.element__container-bottom_block {
  background: #1C1C1C;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.element__container-bottom_block p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* or 17px */
  margin-top: 5px;
  /* For dark mode/Spanish Gray */
  color: #9B9B9B;
}

.bottom__block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.present__element-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  column-gap: 15px;
  flex-wrap: wrap;
}

.present__element-container__block {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #1C1C1C;
  border-radius: 15px;
  max-width: 165px;
  width: 100%;
  height: 100px;
}

.container__block-title {
  display: block;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  /* For dark mode/Pavement */
  color: #F9F9F9;
}

.container__block-text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  display: flex;
  align-items: center;
  text-align: center;
  /* For dark mode/Spanish Gray */
  color: #9B9B9B;
}

.container__block-indicator__gray {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #5B5B5C;
}

.container__block-indicator__blue {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #4B6CC0;
}

.elem__not1 {
  display: none;
}

.elem__not2 {
  display: none;
}

.elem__not3 {
  display: none;
}

.bottom__block {
  position: absolute;
  bottom: 1px;
  left: 15px;
  max-width: 350px;
  width: 100%;
}

.present__element-plus {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 15px;
  max-width: 165px;
  width: 100%;
  height: 100px;
  border: 1px solid #373737;
}

@media screen and (max-width: 1024px) {
  .comfort__block {
    height: 510px;
  }
  .comfort__block-img {
    max-width: 727px;
    right: -1px;
  }
  .comfort__block-img img {
    max-width: 727px;
  }
  .present__block {
    width: 449px;
  }
  .present__block-title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    /* identical to box height, or 35px */
    color: #FFFFFF;
  }
  .present__element {
    max-width: 424px;
  }
  .present__block-descr {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 768px) {
  .comfort__block {
    height: 385px;
  }
  .comfort__block-img {
    max-width: 488px;
    right: -1px;
  }
  .comfort__block-img img {
    max-width: 488px;
  }
  .present__block {
    width: 335px;
  }
  .present__block-title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    /* identical to box height, or 35px */
    color: #FFFFFF;
  }
  .present__element {
    max-width: 313px;
  }
  .present__block-descr {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .present__block-title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 34px */
    color: #FFFFFF;
  }
  .element__container {
    position: relative;
    padding: 20px 15px 0 15px;
    background: #161616;
    border-radius: 25px;
    width: 263px;
    height: 380px;
  }
  .container__block-title {
    display: block;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #F9F9F9;
  }
  .container__block-text {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9B9B9B;
  }
  .present__element-container__block {
    max-width: 124px;
  }
  .present__element-plus {
    max-width: 124px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    padding: 0 10px;
  }
  .present__content {
    flex-wrap: wrap;
  }
  .comfort__block-title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */
    color: #101010;
  }
  .comfort__block-descr {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #101010;
  }
  .comfort__block {
    height: 311px;
    padding: 20px;
  }
  .comfort__block-img {
    max-width: 320px;
    right: -1px;
  }
  .comfort__block-img img {
    max-width: 320px;
  }
  .present__block {
    width: 335px;
    margin-bottom: 20px;
  }
  .present__block-title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    /* identical to box height, or 35px */
    color: #FFFFFF;
  }
  .present__element {
    max-width: 313px;
  }
  .present__block-descr {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .present__block-title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 34px */
    color: #FFFFFF;
  }
  .element__container {
    position: relative;
    padding: 20px 15px 0 15px;
    background: #161616;
    border-radius: 25px;
    width: 263px;
    height: 380px;
  }
  .container__block-title {
    display: block;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #F9F9F9;
  }
  .container__block-text {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9B9B9B;
  }
  .present__element-container__block {
    max-width: 124px;
  }
  .present__element-plus {
    max-width: 124px;
  }
}
.function {
  padding: 200px 0 0 0;
  position: relative;
  height: 738px;
}
.function .container {
  padding: 0 25px;
}

.start__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pim {
  max-width: 210px;
  padding: 30px 50px;
  border-radius: 50px;
  background: #101010;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
}
.pim span {
  display: block;
  position: relative;
  z-index: 10;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 140%;
  color: #ffffff;
}

.pim::after {
  position: absolute;
  content: "";
  top: -170px;
  left: -80px;
  width: 670px;
  height: 430px;
  background-repeat: no-repeat;
  background: url("../../img/pimGradient.png");
  animation: pimGradient 4s ease-in infinite;
}

.start__content-textarea {
  max-width: 1020px;
  width: 100%;
}
.start__content-textarea h1 {
  display: flex;
  line-height: 100%;
  align-items: center;
}
.start__content-textarea h1 span {
  display: inline-block;
  height: 7px;
  background: #ffffff;
  border-radius: 10px;
  margin-right: 10px;
}

.info__line {
  max-width: 268px;
}

.function__overlay {
  width: 100%;
  z-index: 100;
  height: 700px;
  background: linear-gradient(0deg, rgb(16, 16, 16) 0%, rgb(16, 16, 16) 19%, rgb(16, 16, 16) 50%, rgb(16, 16, 16) 81%, rgb(16, 16, 16) 100%);
  position: absolute;
  top: 52px;
  left: 0;
  opacity: 0;
}

.end__block {
  display: none;
  width: 100%;
  height: 550px;
}

.end__block-text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 140%;
  color: #FFFFFF;
}

.topseller {
  display: block;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 248px;
  line-height: 110%;
  color: #FFFFFF;
}

.content {
  display: flex;
  justify-content: flex-end;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 248px;
  line-height: 90%;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.content::after {
  content: "";
  position: absolute;
  width: 1559px;
  left: 326px;
  height: 300px;
  mix-blend-mode: darken;
  background: url(../../img/gradient.jpg);
  background-size: contain;
  animation: bigGradient 2s linear infinite;
}

@media screen and (max-width: 1300px) {
  .content::after {
    animation: bigGradient_lg 1s linear infinite;
  }
}
@media screen and (max-width: 1024px) {
  .start__content-textarea {
    padding-right: 70px;
    max-width: 671px;
    width: 100%;
  }
  .start__content-textarea h1 {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .start__title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 140%;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  .content {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 175px;
    line-height: 90%;
    /* or 245px */
    color: #FFFFFF;
  }
  .topseller {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 180px;
    line-height: 110%;
    /* or 252px */
    color: #FFFFFF;
  }
  .end__block-text {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    /* identical to box height, or 35px */
    color: #FFFFFF;
  }
  .function {
    padding: 95px 0 0 0;
    height: 630px;
  }
}
@media screen and (max-width: 768px) {
  .start__content-textarea {
    max-width: 520px;
  }
  .start__content-textarea h1 {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .start__content-textarea h1 span {
    height: 6px;
  }
  .info__line {
    max-width: 145px;
  }
  .manage__line {
    max-width: 225px;
  }
  .function__overlay {
    height: 400px;
    top: 40px;
  }
  .start__title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    /* or 67px */
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .pim {
    max-width: 205px;
    border-radius: 20px;
  }
  .pim span {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .topseller {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 130px;
    line-height: 140%;
    /* or 182px */
    color: #FFFFFF;
  }
  .content {
    display: flex;
    justify-content: flex-start;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 130px;
    line-height: 110%;
    /* or 182px */
    color: #FFFFFF;
  }
  .content::after {
    animation: bigGradient_medium 3s linear infinite;
  }
  .end__block-text {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
  }
  .function {
    padding: 36px 0 0 0;
    height: 470px;
    margin: 0;
  }
}
@media screen and (max-width: 360px) {
  .start__title {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    /* or 50px */
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  .function__overlay {
    height: 300px;
  }
  .start__content-textarea {
    padding: 0;
  }
  .start__content-textarea h1 {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    color: #FFFFFF;
  }
  .pim {
    max-width: 100px;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .container {
    padding: 0 10px;
  }
  .end__block-text {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    color: #FFFFFF;
  }
  .topseller {
    display: inline;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    /* identical to box height, or 45px */
    color: #FFFFFF;
  }
  .content {
    display: inline;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    /* or 45px */
    color: #FFFFFF;
  }
  .content::after {
    content: "";
    position: absolute;
    width: 245px;
    left: 0;
    height: 75px;
    mix-blend-mode: darken;
    background: url(../../img/gradient.jpg);
    background-size: contain;
    animation: bigGradient_small 2s infinite;
  }
  .function {
    padding: 84px 0 0 0;
    height: 300px;
    margin: 0;
  }
}
/* ALL COLLORS PALLETE */
/* ALL COLLORS PALLETE */
.purple__text {
  color: #A5A1FF;
}

.green__text {
  color: #27AE60;
}

.emerald__text {
  color: #4CC67F;
}

h1 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 140%;
  color: #ffffff;
}

h2 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 90%;
  color: #101010;
}

h3 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  color: #ffffff;
}

p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  color: #E1E1E1;
}

button {
  padding: 17px 0;
  text-align: center;
  width: 100%;
  transition: 0.1s ease;
  border-radius: 17px 25px;
}

.btn_green {
  border-radius: 30px;
  padding: 17px 31px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  background-color: #4CC67F;
  color: #101010;
}

button:is(:hover, :active) {
  font-weight: 700;
}

.btn_gray {
  padding: 17px 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  background-color: #373737;
  color: #ffffff;
}

@keyframes smallGradient {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: -200px;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes bigGradient {
  0% {
    left: -50px;
  }
  50% {
    left: 340px;
  }
  100% {
    left: -50px;
  }
}
@keyframes bigGradient_lg {
  0% {
    left: 50px;
  }
  50% {
    left: -161px;
  }
  100% {
    left: 50px;
  }
}
@keyframes bigGradient_medium {
  0% {
    left: -20px;
  }
  50% {
    left: -590px;
  }
  100% {
    left: -20px;
  }
}
@keyframes bigGradient_small {
  0% {
    width: 150px;
  }
  50% {
    width: 300px;
  }
  100% {
    width: 150px;
  }
}
@keyframes pimGradient {
  0% {
    left: -80px;
  }
  100% {
    left: -435px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #101010;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

section {
  margin: 60px 0;
}

.section {
  width: 100%;
  background: blue;
  height: 4000px;
}

/*# sourceMappingURL=style.css.map */
