/* ALL COLLORS PALLETE */

$emerald : #4CC67F;
$DarkGreen : #27AE60;

$black : #101010;

$white : #ffffff;
$DarkWhite : #E1E1E1;

$gray : #B5B5B5;
$DarkGray : #6C6C6C;

$blue : #4B6CC0;
$DarkBlue : #24145A;
$LightBlue : #8782FF;
$HoverBlue : #6E44FF;

$purple : #440675;
$LightPurple : #A5A1FF;


$DarkRed : #590707;
$LightRed : #B20909;

$DarkPurpure : #5B2F70;
$LightPurpure : #813F9F;

/* ALL COLLORS PALLETE */

$gradientPinkBlue : linear-gradient(262.47deg, #F8C4DA 0%, #93C6E2 99.39%);